## R-PY 강의 2주차

In [10]:
# Drill 201
# 형변환 
type(1) # 결과가 정수형 int
type(1.1) # 결과가 실수형 float
float(1) # 1.0
int(1.1) # 1
#type(int(1.1)) # int
int('1') # 1
#int("1.1"): 오류
str(1) # '1'
str(1.1) # '1.1'

'1.1'

In [2]:
#Drill 202

# 형변환 
int(True) # 1
int(False) # 0
bool(1) # True
bool(0) # False
# every number expect 0 is True. Only 0 is False

False

In [16]:
#Drill 203 
# 파이썬이 할수 있는 연산이 무엇이 있을까?
print(50-10)  
print(50*10) 
print(50/10) #float double?
print(50/12) 
print(50//10)  
print(50//12)  # 몫연산 floor division
print(2*50+10) 
print((10+2)*50) 
print(5**2)    # 제곱 연사 5^2

40
500
5.0
4.166666666666667
5
4
110
600
25

In [18]:
# 자료가 정해졌으면 저장을 해야한다. 
midterm=50
final=40
diff=midterm-final
print(diff)

10

In [4]:
#문자열의 이해 
name="Michael Jackson"
name[6]
name[2:6] # 처음은 들어가고 마지막은 안들어간다, : 사용할때 
name[-13:-9] # 위에 결과와 동일, Negative Indexing 
len(name)# 함수는 괄호를 사용하여 표현 

# index of a string starts from 0
# negative index of a string starts from -1, beginning at end of the string

15

In [37]:
# Drill 204
# 문자열끼리 연산이 가능하다 
name = "MICHAEL JORDAN" 
player = " is the best basketball player"
statement=name + player # 더하기 연산 
print(statement) 
len(statement) # 44
print(statement[38:45])

MICHAEL JORDAN is the best basketball player
player

In [41]:
# Drill 205
# 다양한 연산밒 표현식  
fruit = 'banana' 
letter = fruit[1]
print(letter) 
#letter = fruit[1.5] # 안될거다 must be int
length= len(fruit) 
#last = fruit[length] # 데이터 없다
last = fruit[length-1]
fruit[:3] 
fruit[3:] 
greeting = 'Hello, world!' 
#greeting[0] = 'J' #값으로 변환이 안된다  str does not support item assignment
'a' in 'banana' #문자열의 참거짓 연산, Membership 연산  
'seed' in 'banana'

a

False

In [47]:
dir(str)
help(str.capitalize)
help(str.find)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [46]:
# Drill 406 
word = 'banana' 
new_word = word.upper() 
print(new_word)
word = 'banana' 
index = word.find('a') 
print(index)
print(word.find('na')) # 이해가 간다 
print(word.find('na', 3)) # 이해가 안간다

BANANA
1
2
4

## 자료들을 모아보자
1. 튜플 
2. 리스트 (가장중요)
3. 딕셔너리(그만큼 중요) 
4. 셋

In [51]:
# Drill 207
# Tuple 연산 
t = tuple('lupins')
print(t)
t = ('a', 'b', 'c', 'd', 'e') 
print(t[0]) 
print(t[1:3]) 
# # 불가능하다, 문자열하고 동일 
t = ('A',) + t[1:]
print(t)

('l', 'u', 'p', 'i', 'n', 's')
a
('b', 'c')
('A', 'b', 'c', 'd', 'e')

In [54]:
# Drill 208
#리스트 연산 
[10, 20, 30, 40] 
['crunchy frog', 'ram bladder', 'lark vomit']
cheeses = ['Cheddar', 'Edam', 'Gouda'] 
numbers = [17, 123]
empty = [] 
print(cheeses, numbers, empty) 

cheeses = ['Cheddar', 'Edam', 'Gouda'] 
print(cheeses[0]) 
'Edam' in cheeses  # Membership 연산 가능 
'Brie' in cheeses 

numbers = [17, 123] 
numbers[1] = 5 
print(numbers) # Item Assignment가 가능하다

['Cheddar', 'Edam', 'Gouda'] [17, 123] []
Cheddar
[17, 5]

In [57]:
# Drill 209 
a = [1, 2, 3] 
b = [4, 5, 6] 
c = a + b 
print(c) # 리스트는 수치형 벡터가 아니다-> 수치형 벡터는 Numpy사용 

print([0] * 4) 
print([1, 2, 3] * 3) # 리스트는 수치형 벡터가 아니다-> 수치형 벡터는 Numpy사용

t = ['a', 'b', 'c', 'd', 'e', 'f'] # 시퀀스적 기능은 똑같다 
print(t[1:3]) 
print(t[:4]) 
print(t[3:])

[1, 2, 3, 4, 5, 6]
[0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']

In [61]:
# Drill 210
# Append Method와 Extend 메소드의 차이 
t = ['a', 'b', 'c'] 
t.append('d') 
print(t)
t.append(['d','e']) 
print(t)
print(t[4]) # 인덱스를 하나 넣었음에도 불구하고 결과는 ['d','e']

t1 = ['a', 'b', 'c']  # 더하기 연산 수행 
t2 = ['d', 'e'] 
t1.extend(t2) 
print(t1)

t = ['d', 'c', 'e', 'b', 'a'] 
t.sort() 
print(t)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', ['d', 'e']]
['d', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

In [63]:
# Drill 411 
t = ['a', 'b', 'c'] # 인덱스 기반(저장순서 기반 삭제 )
x = t.pop(1) 
print(t) 

t = ['a', 'b', 'c'] # 인덱스 기반(저장순서 기반 삭제 )
del t[1] 
print(t)

t = ['a', 'b', 'c'] # 내용기반 삭제 
t.remove('b')
print(t)

['a', 'c']
['a', 'c']
['a', 'c']

In [64]:
# Drill 412: 이치에 맞지는 않으나 연산은 가능
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [68]:
my_dict = {'name':'Jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age')) # 많이쓰인다 
#print(my_dict['height']) # 많이쓰이는 이유 # 오류 난다. 
print(my_dict.get('height')) # 많이쓰이는 이유

# update value 
my_dict['age'] = 27
print(my_dict)

# add item
my_dict['address'] = 'Downtown'  
print(my_dict)

Jack
26
None
{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [9]:
# Drill 214 
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print(eng2sp)
print(eng2sp['two'])
# print(eng2sp['four']) # 오류 난다. 


# Membership Operation: Key값에 대해서만 한다 
print('one' in eng2sp)
print('uno' in eng2sp)
vals = list(eng2sp.values())
keys = list(eng2sp.keys())
print(vals)
print(keys)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}
dos
True
False
['uno', 'dos', 'tres']
['one', 'two', 'three']