
## 3주차 
* Logical 연산 
* 조건문
* 반복문
* 함수

In [4]:
# Drill 301 
x = 3 
y = 2 


x > y 
x < y 
x != y
x==y

False

In [4]:
# Drill 301 Extended 
x = [3,2] 
y = [2,3] 

print(x > y)  # 두개의 요소를 넣었음에도 하나의 결과값 
print(x < y)

True
False

In [5]:
# If statement: 만약 If statement만 있으면 if 바로 아래 Block 만 수행한다.
# 교수님 블록을 어떻게 지정하나요?
# if 명령어 조건: 그다음에 Indention을 합니다. (들여쓰기)
# 요약하자면 : 다음에 들여쓰기다. 
num = 9

if num > 0:    
    print(num, "is a positive number.") # 보통 Tab을 사용하여 Indention 
    if num >10:
        print(num, "is big positve.")

print("This is always printed.")

9 is a positive number.
This is always printed.

In [ ]:
# Drill 302 
# If-Else 구문 
num = 0

if num >= 0:
	print("Positive or Zero")
else:    
	print("Negative number")

In [15]:
# Drill 303 

num = 101
if num > 0:
	print("Positive number")
elif num == 0:
	print("Zero")
elif num > 100:
	print("Big Positive") 
else:    
	print("Negative number")

Positive number

In [16]:
# Drill 305 중첩 IF 문의 사용 
num = float(input("Enter a number: "))

if num >= 0:
	if num == 0:
		print("Zero")
	else:
		print("Positive number")
else:
	print("Negative number")

Enter a number: 15
Positive number

In [18]:
# Try - Except 구문
# Try 블록에서 문제가 없으면 TRY 블록 끝
# Try 블록에서 Error가 생기면 Except 블록을 실행 

inp = input('Enter Fahrenheit Temperature:')
try:
	fahr = float(inp)
	cel = (fahr - 32.0) * 5.0 / 9.0
	print(cel)
except:
	print('Please enter a number')

Enter Fahrenheit Temperature:32f
Please enter a number

In [22]:
# Logical 연산자 
x = True
y = False

print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

# 이런것 역시 가능하다. 
z=(10>3) # 연산을 저장해서 사용하는 것 역시 가능하다. 
print(z)
print(not z)

x and y is False
x or y is True
not x is False
True
False

## 반복문 
* 블락 반복 
* 반복횟수가 정해진것: for 
* 조건에 따라 반복하는것은: while

In [23]:
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers: # in? 포함된것, 순차적으로 포함된 것에서 값을 바꿔가며 사용 
  print(val)
  sum = sum+val

print("The sum is", sum)

6
5
3
8
4
2
5
4
11
The sum is 48

In [6]:
# For 루프의 사용법  
genre = ['pop', 'rock', 'jazz']
# iterate over the list using index
for i in range(len(genre)):	
	print("I like", genre[i])

# 둘다 결과는 동일하다. 
for i in genre:	
	print("I like", i)

for i, letter in enumerate(genre): # Enumerate의 사용 
    print(genre[i])
    print(letter)
    print(i)

I like pop
I like rock
I like jazz
I like pop
I like rock
I like jazz
pop
pop
0
rock
rock
1
jazz
jazz
2

In [9]:
#n = 10
# 참고  n=-5: "while 안에 조건이 맞는지가 중요합니다. "
n=5
# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)
print(i)

The sum is 15
6

In [32]:
# break 구문 
for val in "string":
	if val == "i":
		break
	print(val)

print("The end")

s
t
r
The end

In [33]:
# Continue 구문 
for val in "string":
	if val == "i":
		continue
	print(val)

print("The end")

s
t
r
n
g
The end

In [11]:
def absolute_value(num):
	"""This function returns the absolute
	value of the entered number"""

	if num >= 0:
		return num
	else:
		return -num

In [13]:
val=absolute_value(32)
print(val)

32

In [42]:
def my_func():
	x = 10
	print("Value inside function:",x)
# 일반적으로 함수안에 지정된 변수의 값은 Local 변수로서
# 함수 밖에 지정된 값에 영향을 미치지 않는다. 

x = 20
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

In [14]:
def greet(name,msg):
  """This function greets to
  the person with the provided message"""
  print("Hello",name + ', ' + msg)

In [16]:
greet("monica","good morning")
greet("good morning","monica")
greet(name="monica",msg="good morning")
greet(msg="good morning",name="monica") # case 2 
#greet("good morning",name="monica") # 오류
#greet(name="monica","good morning") #오류 

# CASE 1
# 위치순대로 함수 INPUT 변수 지정 
# 그후 Keyword 변수 사용하여 추가적으로 변수 지정 

# CASE 2
# 아니면 Keyword 변수 only

Hello monica, good morning
Hello good morning, monica
Hello monica, good morning
Hello monica, good morning

In [58]:
def greet(name, msg = "Good morning!"):
   print("Hello",name + ', ' + msg)

greet("monica","good morning")
greet("monica") # default를 활용하는 방법
greet() # name에는 default가 없다.

Hello monica, good morning
Hello monica, Good morning!

TypeError: ignored

In [18]:
#Q1 : 답은 오류 
def foo():
    yy = "local"

foo()
print(yy)


#Q2: 여전히 오류  
def foo():
    yy = "local"
    print(yy)

foo()
print(yy)

local

In [21]:
x = "global"

def foo():
    global x # x가 전역 변수임을 지정: 다시 말해 함수 밖에서도 바뀐다. 
    y = "local"
    x = x * 2
    print(x)
    print(y)
    
foo()
print(x) # x값이 바뀌었다
foo()

globalglobal
local
globalglobal
globalglobalglobalglobal
local

In [22]:
# 마지막 하나의 케이스: 함수안에 변수 지정이 안되어 있으면, 밖에서 찾는다. 
x="global"

def foo(y):
  print(x + y)

y="local"
foo(y)

globallocal

In [26]:
# Output이 여러개일때는 100이면 100 튜플 사용 
def add4(a,b):
  a1=a+b
  a2=a-b
  a3=a/b
  a4=a*b
  return (a1, a2, a3, a4)

print(add4(3, 2))
(a1, a2, a3, a4) = add4(3, 2)
print(a1, a2, a3, a4)

(5, 1, 1.5, 6)
5 1 1.5 6